@import "tailwindcss";

@theme {
  /* Light Mode Colors */
  --color-light-primary: #FDF0D5;
  --color-light-invert: #24282B;
  --color-light-brand: #669BBC;
  --color-light-brand-lighter: #003049;
  --color-light-second-brand: #C1121F;
  --color-light-second-brand-lighter: #780000;
  --color-light-third-brand: #93C572;

  /* Dark Mode Colors */
  --color-dark-primary: #24282B;
  --color-dark-invert: #FDF0D5;
  --color-dark-brand: #003049;
  --color-dark-brand-lighter: #669BBC;
  --color-dark-second-brand: #780000;
  --color-dark-second-brand-lighter: #C1121F;
  --color-dark-third-brand: #93C572;

  /* Animation */
  --animate-wiggle: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
